
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    background-color: whitesmoke;
    width:100%;
    height: 300px;
}

body{
    background-color: #3E3232;
    overflow-x: hidden;
    height: 1200px;
}

*{
    margin: 0%;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: whitesmoke;
}

.top_nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    font-family: Poppins;
    list-style-type: none;
    background-color: #EEE2DE;
    color: #3E3232;
    width: 100%;
    height: 40px;
}

.lower_nav a:hover{
    text-decoration: underline;
}

.one_welcome{
    font-size: 22px;
}

.two_welcome{
    font-size: 30px
}

.lower_nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-family: Poppins;
    list-style-type: none;
    background-color: #3E3232;
    color: #EEE2DE;
    width: 100%;
    height: 60px;
}

.main{
    font-size: 13px;
    color: whitesmoke;
    font-family: Poppins;
    width: 100%;
    height: 400px;
}

.auvthor {
    font-size: 15px;

}

h1{
    color: whitesmoke;
    display: flex;
    align-items: center;

}

.barbare{
    border-radius: 490px;
    width: 320px;
    position: absolute;
    right: 130px;
    bottom:150px;
    border-color: #F1DEC9;
    border: #F1DEC9;
}

.jekunkula{
    border-radius: 150px;
    width: 320px;
    position: absolute;
    right: 490px;
    bottom:150px;
}

.main_info{
    width: 100%;
    height: 970px;
    background-color: #3E3232;
    color: whitesmoke;
    font-family: Poppins;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    position: absolute;
    bottom:150px;
}

.enterance {
    margin-top: 20%;
    margin-left: 5%;
   
}